<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shefaliupadhyaya.project1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Space Impact"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".MainActivity"
            android:label="Space Impact"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game" >
            <intent-filter>
                <action android:name="com.example.shefaliupadhyaya.project1.GameActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Highscore"
            android:label="@string/title_activity_highscore" >
            <intent-filter>
                <action android:name="com.example.shefaliupadhyaya.project1.Highscore" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainHighScore"
            android:label="@string/title_activity_main_high_score">
            <intent-filter>
                <action android:name="com.example.shefaliupadhyaya.project1.MainHighScore" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
